
.card, .card-header{
    background-color: transparent !important;
    border: none !important;
    padding: 0px !important;
    margin-bottom:20px;
}

.btn-link{
    text-decoration: none !important;
    width: 100% !important;
    height: 60px !important;
    color: #000 !important;  
}
.btn{
    cursor: pointer !important;
}

.btn-link:after{
    font-family: 'FontAwesome';
    content: '\f077';
    width: 35px;
    font-size: 25px;
    text-align: center;
    border-radius:  5px;
    right: 15px;
    top: 11px;
    position:absolute;
    background-color: #e8eeff;
}

.btn-link.collapsed:after{
    font-family: 'FontAwesome';
    content: '\f078';
}
